.menu-icon {
	margin-top:-20px;
	color:#49E389;
	position:relative;
	top:-3px;
  }

.navbar-nav > li{
	padding-left:0px;
	padding-right:0px;
}

.bg-dark {
	background-color: #3A3131!important;
}
.bg-secondary {
	background-color: #D4D7DC!important;
}